@media screen and (max-width: 749px) and (orientation: portrait){
  /*--------------GENERAL PURPOSE CSS-----------------------------------------*/
  body {
    padding:0em;
    margin:0em;
    background-image: linear-gradient(to bottom, #000206, #00444C);
    font-family: 'Oswald', sans-serif;
    color: #d3d3d3;
  }
  /* The Overlay (background) */
#navigation {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgba(0, 16, 20, 0.98); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
#navigation-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  align-items: center; /* Centered text/links */
  margin-top: 3em;; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
#navigation button {
  margin: 0.5em 20%;
  border: 0em;
  background-color: transparent;
  text-decoration: none;
  font-size: 3em;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
#navigation button:hover, .overlay button:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.nav-tgl {
  position: fixed;
  z-index: 1;
  top: 0.2em;
  right: 0.6em;
  font-size: 5em;
  mix-blend-mode: difference;
}
.breadcrumb{
  display: none;
}

#frecciasu
{
  padding: 0em;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-image: url('images/frecciaup.jpg');
  background-size: 3.5em;
}

  #footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'a b';
    grid-gap: 0.5em;
    margin-top:3.5em;
    text-align: center;
    background-color: #002125;
    height: 7em;
    margin-bottom:0em;
    width: 100%;
  }
  .validation {
    grid-area: a;
    padding-top: 0.7em;
    margin: 0;
  }
  .validation a{
    padding: 0em 1em;
  }
  .social{
    grid-area: b;
    padding-top: 0.6em;
    margin: 0em;
    margin-right: 1em;
  }
  .info {
    grid-area: m;
    text-align: center;
    display: none;
  }
  .footer-icon {
    width: 9%;
    margin-left: 7%;
    height: auto;
  }


  #actionLabel {
    display: block;
  }
  #contentEsp #searchError {
    color: red;
    text-align: center;
  }

   .notToDisp {
     display: none;
   }

#btnScrollToTop{
    display: none;
}
.error{
  color: red;
  width: 100%;
  display: block;
}

  /*----------------HOME PAGE------------------------------------------------*/

  #background {
    display: none;
    width: 100%;
    height:auto;
    padding: 0em;
    margin:0em;
  }
  .item1 {
    grid-area: a;
    font-size: 2.6em;
    text-align: center;
    padding: 0em 2em;
  }
  .item2 {
    grid-area: b;
  }
  .item2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .item3 {
    text-align: center;
    grid-area: c;
    padding: 0% 4%;
  }
  .item4 {
    grid-area: d;
    font-size: 3em;
    text-align: center;
    align-items: center;
    padding:1.2em 3em;
  }
  .item5 {
    grid-area: e;
    font-size: 3em;
    text-align: center;
    align-items: center;
    padding:1.2em 3em;
  }
  .item6 {
    grid-area: f;

  }
  .item6 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .item7 {
    grid-area: g;

  }
  .item7 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .item8 {
    grid-area: h;
    font-size: 3em;
    text-align: center;
    align-items: center;
    padding:1.2em 3em;
  }

  .grid-container {
    padding-top: 30%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'b' 'a' 'd' 'c' 'f' 'e' 'g' 'h';
    grid-gap: 1em;
    grid-row-gap: 3em;
  }
  .mission-home {
    display: block;
    background-color:#d3d3d3;
    color:#002125;
    width: 60%;
    border-radius: 0.4em;
    margin: 3em 20%;
    padding-bottom:1em;
    padding-top:0.3em;
    font-weight: bold;
    text-decoration: none;
  }
  .mission-home a {
    text-decoration: underline;
    color: #002125;
  }
  .find-more-button {
    background-color: #001115;
    color: white;
    border: 0.2em solid white;
    border-radius: 0.5em;
    padding: 0.3em;
    margin:0em;
    font-size: 0.5em;
    transition-duration: 0.4s;
  }
  .find-more-button:hover {
    background-color:white;
    color:black;
  }
  /*-----------------CHI SIAMO----------------------------------------------*/

  #green_data{
    display: grid;
    margin: 1em;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 1fr 0.25fr 1fr;
    grid-template-areas:  'i1'
                          't1'
                          'i2'
                          't2';
    grid-gap: 0.1em;
    align-items: center;
  }

  #contentAbout{
    margin-right: 1em;
    margin-left: 1em;
    padding-top: 4em;
  }

  #contentAbout h1{
    font-size: 3em;
    text-align: center;
  }

  #contentAbout h2{
    text-align: left;
    font-size: 2.3em;
  }

  #contentAbout abbr{
        text-decoration: none;
  }

  #contentAbout p{
    text-align: center;
    font-size: 1.6em;
    margin: 0.8em;
  }

  #firstTitle{
      padding-top: 0.67em;
      margin-top: 0em;
  }

  .subtitle_cont{
      margin: 0em;
  }

  #icon_fact{
    vertical-align: 0.0em;
  }

  #subtitle_energia_pulita{
    grid-area: st;
  }

  #subtitle_sviluppo{
    margin-left: 0.5em;
  }

  #green_data h3{
    font-size: 2em;
    margin: 0.25em;
  }

  #contentAbout#green_data p{
    font-size: 1.3em;
  }

  #curio_icon1{
    grid-area: i1;
  }

  #curio_icon2{
    grid-area: i2;
  }

  .curio_icon{
    justify-self: center;
    margin: 0.5em;
    color: white;
    max-width: 8em;
    max-height: 8em;
  }

  .icon{
    max-width: 1.75em;
    max-height: 1.75em;
    vertical-align: -0.5em;
    margin: 0em 0.5em 0em 0.5em;
  }

  .iconM{
    max-width: 7em;
    max-height: 7em;
    vertical-align: -1.5em;
    margin: 0em 0.5em 0em 0.5em;
  }

  .iconNoMargin{
    max-width: 1.75em;
    max-height: 1.75em;
    vertical-align: -0.5em;
    margin: 0.3em;
  }

  #curio_data1{
      justify-self: center;
      grid-area: t1;
  }

  #curio_data2{
      justify-self: center;
      grid-area: t2;
  }

  .curio_data{
    margin: 1em;
    border-radius: 0.2em;
    box-shadow: 0.2em 0.2em 1em 0.005em #d3d3d3;
    padding: 0.25em 1em 0.25em 1em;
    max-width: 35em;
    background-color: #d3d3d3;
    color: #002125;
  }

  #our_team p{
    text-align: center;
    margin: 0.1em;
  }

  #our_team .name{
    font-size: 1.5em;
  }

  #cisottoIMG{
    justify-self: right;
    align-self: center;
    grid-area: c;
  }

  #lazzaroIMG{
    justify-self: right;
    align-self: center;
    grid-area: l;
  }

  #rizzoIMG{
    justify-self: right;
    align-self: center;
    grid-area: r;
  }

  #scialpiIMG{
    justify-self: right;
    align-self: center;
    grid-area: s;
  }

  #grid_team{
  display: grid;
  grid-gap: 0.1em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:  'c ct'
                        'l lt'
                        'r rt'
                        's st';
  }

  #grid_team #ct{
    justify-self: left;
    align-self: center;
    grid-area: ct;
  }

  #grid_team #lt{
    justify-self: left;
    align-self: center;
    grid-area: lt;
  }

  #grid_team #rt{
    justify-self: left;
    align-self: center;
    grid-area: rt;
  }

  #grid_team #st{
    justify-self: left;
    align-self: center;
    grid-area: st;
  }

  .iconM{
    max-width: 10em;
    max-height: 10em;
    vertical-align: -2.0em;
    margin: 0em 0.5em 0em 0.5em;
  }
/*---------------------CONTATTACI-------------------------------*/
.header{
  position: relative;
  z-index: -1;
  text-align: center;
}
.aurora{
  width: 100%;
  filter: blur(8px);
}
.titolo{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  width: 80%;
  padding: 2%;
  font-size: calc(1.5vw + 1vh + 1vmin);
  text-align: center;
  max-height: 70%;
  text-shadow: 2px 2px 4px #000000;
}
.testo{
  margin: 0em;
}
.testo_pulsanti_contattaci{
  margin-top:1em;
  margin-bottom: 1em;
  padding-top: 2em;
  text-align: center;
  position: relative;
  left: 5%;
  background-image: linear-gradient(to bottom, #000d33, #330033);
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
  max-width: 80%;
}
.pulsanti_contattaci{
  max-height: 30%;
  font-size: calc(3vw + 0.5vh + 1.5vmin);
  min-width: 80%;
  margin: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  justify-self:center;
  background-color: inherit;
  color: white;
  border-radius: 2px;
  border-color: rgba(115, 64, 191, 0.5);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
}
.testo_generico_contattaci{
  text-align: center;
  position:relative;
  left:5%;
  text-shadow: 2px 2px 4px #000000;
  background-color: rgba(200,255,210, 0.1);
  border: 3px solid rgba(200,255,210, 0.1);
  max-width: 90%;
}
#immagine_insta, #immagine_face, #immagine_twit{
  margin: 5%;
  margin-left: 10%;
  max-width: 15%;
}
.foto_social{
  width: 80%;
  position:relative;
  left:8%;
  margin: 1em;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
}
#formid{
  position:relative;
  left: 10%;
  max-width: 80%;
}
#textarea{
  resize: none;
  max-width: 100%;
}
.inputform{
  background-color:#002125;
  color:#d3d3d3;
  border: 0.075em solid #d3d3d3;
  border-radius: 0.3em;
  padding: 0.3em;
  margin:0em;

}
#sendbutton {
  background-color: #d3d3d3;
  color: #002125;
  border: 0.2em solid #002125;
  border-radius: 0.3em;
  padding: 0.3em;
  margin:0em;
  transition-duration: 0.4s;
  font-weight: bold;
  margin-top: 1em;
  font-size: calc(2.6vw + 1vh + 1vmin);
}
.formdescription, .formerror, .testo_generico_contattaci, .testo_pulsanti_contattaci{
  font-size: calc(2vw + 0.8vh + 0.8vmin);
}
.formerror{
  color: crimson;
}
.formdescription, .formerror, .inputform{
  display: flex;
}
  /* --------------- LOGIN --------------------------------------------- */

  #login-content{
    text-align: center;
    align-content: center;
  }
  #login-content h1{
      font-size: 4em;
      margin:0;
      padding: 1em 0em;
  }
  #login-content a{
    color: #d3d3d3
  }
  #login-content p{
    margin-top: 1.5em;
  }
  #login{
    background-color: #001115;
  }

  #login-box{
    background-color: #d3d3d3;
    padding: 2em 0em;
    margin: 1em 10%;
    color: #002125;
    border-radius: 0.4em;
  }
  #login-box img{
    padding: 0em;
    width: 2.8em;
    height:3.2em;
    vertical-align: middle;
  }
  #login-box input{
    margin: 1em 18%;
    height: 2.5em;
    font-size: 1.3em;
    width: 13em;
    border: 0.2em;
    border-color: #002125;
    border-radius: 0.3em;
    text-align: center;
  }
  #login-box select{
    margin: 1em 18%;
    height: 2.5em;
    font-size: 1.3em;
    width: 13em;
    border: 0.2em;
    border-color: #002125;
    border-radius: 0.3em;
    text-align: center;
  }
  .login-button {
    background-color: #d3d3d3;
    color: #002125;
    border: 0.2em solid #002125;
    border-radius: 0.3em;
    padding: 0.3em;
    margin:0em;
    font-size: 1.2em;
    transition-duration: 0.4s;
    font-weight: bold;
    margin-top: 1em;
  }
  .login-button:hover {
    background-color:#002125;
    color:#d3d3d3;
  }

  /* --------------- COLLABORAZIONI --------------------------------------------- */

  #Team{
    display: grid;
    grid-template-areas: 'ct1' 'ct2';
  }
  #astronauti
  {
    grid-area: ct1;
    width: 13em;
    height: 13em;
    border-radius: 1em;
    margin: 1em;
    justify-self: center;
  }
  #Team.p
  {
    grid-area: ct2;
  }

  #Meeting{
    display: grid;
    grid-template-areas: 'cm1' 'cm2';
  }
  #meetimage
  {
    grid-area: cm1;
    max-width: 18em;
    max-height: 13em;
    border-radius: 1em;
    margin: 1em;
    justify-self: center;
  }
  #Meeting.p
  {
    grid-area: cm2;
  }

  #contentCollab #center{
    text-align: center;
  }
  #Partners{
    text-align: center;
    background-color: white;
    border-radius: 1em;
  }
  .Partners{
    width: 6em;
    height: 6em;
    margin: 1em;
    border-radius: 1em;
  }
  #collab-vantaggi{
    text-align: center;
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-template-areas: 'cv1 cv2' 'cv3 cv4''cv5 cv6' 'cv7 cv8';
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-column-gap: 1em;
    justify-self: center;
  }

  #collab_vantaggio1{
    grid-area: cv1;
  }
  #collab_vantaggio2{
    grid-area: cv3;
  }
  #collab_vantaggio3{
    grid-area: cv5;
  }
  #collab_vantaggio4{
    grid-area: cv7;
  }
  .collab_icon{
    width: 4em;
    height: 4em;
  }
  #collab_icon1{
    grid-area: cv2;
  }
  #collab_icon2{
    grid-area: cv4;
  }
  #collab_icon3{
    grid-area: cv6;
  }
  #collab_icon4{
    grid-area: cv8;
  }

  #contentCollab{
        margin: 0em 4em 4em 4em;
    }

  #contentCollab abbr{
      text-decoration: none;
    }

  #contentCollab h1{
      text-align: center;
      font-size: 2.6em;
      margin-top: 0em;
      padding-top: 2em;
    }

  #contentCollab h2{
      text-align: center;
      font-size: 2em;
      margin-top: 1.5em;
    }

  #contentCollab p{
      font-size: 1.2em;
      text-align: justify;
    }
    /*--------------ESPLORAZIONI------------------------------------------*/
    #contentEsp h1{
      text-align: center;
      padding-top: 2em;
      font-size: 2.4em;
      margin-top: 0em;
      margin-bottom: 0em;
    }

    #search_section {
      text-align: left;
      width: 150%;
    }

    #search{
      display: grid;
      grid-gap: 0.2em;
      grid-template-areas: 'box but';
      grid-template-columns: 1fr 1fr;
      margin-left: 25%;
    }
    #search fieldset{border: 0px solid;padding: 0;}
    #search legend{text-indent: -9999px;font-size: 1px;}
    #search input{
        float: left;
        width: 10em;
        height: 2.5em;
        margin: 1em 0em;
        background: #FFF url(bk.png) repeat-x top left;
        border: 1px solid;
        font-size: 1.3em;
        border-color: #002125;
        border-radius: 0.3em;
    }

    .dis_block{
      display: block;
    }

    #pulsante_cerca_pianeta {
      display: block;
    }

    #search button{
      font-weight: bold;
      border-radius: 0.5em;
      cursor: pointer;
      background-color: #d3d3d3;
      color: #002125;
      padding: 1.1em;
      margin:0em;
      transition-duration: 0.4s;
      margin-top: 1.4em;
      margin-left: 1em;
    }

    #search button:hover {
      border-color:#d3d3d3;
    }

      #contentEsp {
          text-align: center;
      }

    #contentEsp p{
      text-align: left;
    }

    .buttonPrefe{
      max-width: 5em;
      max-height: 5em;
    }

    #filtro_scritta{
      text-align: center;
      font-size: 1.2em;
      display: inline-block;
      margin-left: 40%;
    }

    #filtro_attuale{
      text-align: center;
      font-size: 1.2em;
      display: inline-block;
    }

      .mission-box {
        background-color: #d3d3d3;
        color: #002125;
        font-weight: bold;
        border-radius: 0.4em;
        padding: 1em;
        text-decoration: none;
        margin: 4em;
        margin-left: 2em;
        margin-right: 2em;
        width: 25em;
        display: inline-block;
      }

    .mission-box h2{
        margin: 0em;
        text-align: center;
    }

    #errorPlanetNotFound{
      color: #fb5714;
      font-size: 1.3em;
      text-align: center;
      display: block;
    }

    #filtro_scritta{
      margin-left: 40%;
      text-align: center;
      font-size: 1.2em;
    }

    #filtro_attuale{
      text-align: center;
      font-size: 1.2em;
    }

    #pulsante_cerca_tutte{
      display: block;
    }

    .button_prefe{
      max-width: 5em;
      border-radius: 10em;
    }

    .button_prefe img{
        max-width: 4em;
    }

    .no_disp{
      display: none;
    }
    /* ------------ RICERCA ------------------------------------ */
    #contentResearch{
      display: grid;
      grid-gap: 0.1em;
      padding-top: 3em;
      grid-template-columns: 1fr;
      grid-template-areas:  't1'
                            'i1'
                            'd1'
                            't2'
                            's1'
                            'im1'
                            'p1'
                            's4'
                            'im4'
                            'p4'
                            't3'
                            's2'
                            'im2'
                            'p2'
                            's3'
                            'im3'
                            'p3'
                            ;
    }

    #contentResearch abbr{
      text-decoration: none;
    }

    #contentResearch h1{
      font-size: 3em;
      text-align: center;
      justify-self: center;
    }

    #contentResearch h2{
      margin-left: 1.5em;
      font-size: 2.3em;
      justify-self: center;
    }

    #contentResearch p{
      margin: 2em;
      font-size: 1.6em;
      justify-self: center;
    }

    #contentResearch img{
      margin: 1em;
      border-radius: 2em;
      justify-self: center;
    }

    #title_avanguardia{
      grid-area: t1;
    }

    #d1{
      grid-area: d1;
    }

    #n1{
      justify-self: center;
      align-self: center;
      max-width: 10em;
      grid-area: i1;
      transform: rotate(30deg);
    }

    #title_scoperte{
      grid-area: t2;
    }

    #subtitle_buco{
      grid-area: s1;
    }

    #div_buco{
      grid-area: p1;
    }

    #img_buco{
      grid-area: im1;
      max-width: 20em;
      border-radius: 4em;
      align-self: center;
    }

    #subtitle_neutrini{
      grid-area: s4;
    }

    #div_neutrini{
      grid-area: p4;
    }

    #contentResearch #img_neutrini{
      grid-area: im4;
      max-width: 20em;
      justify-self: center;
      align-self: center;
    }

    #title_attrezzature{
      grid-area: t3;
    }

    #subtitle_fionda{
      grid-area: s2;
    }

    #div_fionda{
      grid-area: p2;
    }

    #contentResearch #img_fionda{
      grid-area: im2;
      max-width: 25em;
      max-height: 25em;
      align-self: center;
        border-radius: 30em;
    }

    #subtitle_sonde{
      grid-area: s3;
    }

    #div_sonde{
      grid-area: p3;
    }


    #contentResearch #img_sonda{
      grid-area: im3;
      max-width: 30em;
      max-height: 30em;
      align-self: center;
    }
    /*---------------------------------------------------- MODIFICA MISSIONE - GESTIONE ADMIN-------------------------------------------------------------------*/
    .nav-tgl {
      color: white;
    }
    .amministratore-box{
      background-color: #d3d3d3;
      font-weight: bold;
      border-radius: 0.4em;
      padding: 0.5em;
      text-decoration: none;
      margin: 2em;
      margin-left: 1em;
      margin-right: 1em;
      max-width: 90%;
      min-width: 70%;
      display: inline-block;
    }
    .amministratore-box img{
      max-width: 15%;
      max-height: 15%;
      background-color: inherit;
    }
    .amministratore-box button{
      width: 80%;
      position:relative;
      left: 10%;
      right: 10%;
    }
    .nomemissione{
      font-size: calc(3vw + 0.5vh + 0.5vmin);
      text-align: center;
      color: #000000;
    }
    #titlemodificamissione{
      padding-top: 1em;
      font-size: calc(4vw + 2vh + 2vmin);
    }
    .scrittemodificamissione{
      font-size: calc(2vw + 1.5vh + 1.5vmin);
      background-color:#d3d3d3;
      color:#002125;
      border: 0.075em solid #d3d3d3;
      border-radius: 0.3em;
      padding: 0.3em;
      margin:0.5em;
    }
    .scrittemodificamissione, .buttoninputmodificamissione, .erroreModifica{
      display: flex;
    }
    .erroreModifica{
      color: crimson;
    }
    .buttoninputmodificamissione{
      font-size: calc(1.5vw + 1.5vh + 1.5vmin);
      background-color:#002125;
      color:#d3d3d3;
      border: 0.1em solid #001a1d;
      border-radius: 0.3em;
      padding: 0.3em;
      margin:0.5em;
      width: 70%;
    }
    .buttonmodificamissione{
      font-size: calc(3vw + 1vh + 1vmin);
      background-color:#002125;
      color:#d3d3d3;
      border: 0.1em solid #001a1d;
      border-radius: 0.3em;
      padding: 0.3em;
      margin:0.5em;
    }
    /*----------------------------------------------------ADMIN -------------------------------------------------------------------*/
    .admin-content{
      max-width: 100%;
      background-color: #d3d3d3;
      color: #002125;
      border: 0.2em solid #002125;
      border-radius: 0.3em;
      padding: 0.3em;
      margin:0.5em;
      font-size: calc(2vw + 1vh + 1vmin);
      text-align: center;
    }
    .adminbutton {
      background-color: #d3d3d3;
      color: #002125;
      border: 0.2em solid #002125;
      border-radius: 0.3em;
      padding: 0.3em;
      margin:0em;
      font-size: 0.8em;
      transition-duration: 0.4s;
      font-weight: bold;
      margin-top: 0.5em;
    }
    .campidatiadmin{
      background-color:#002125;
      color:#d3d3d3;
      border-radius: 0.3em;
      padding: 0.3em;
      margin:0em;
      font-size: calc(2vw + 1vh + 1vmin);
    }
}
