/*----------------GENERAL PURPOSE CSS------------------------------------*/

@media screen and (min-width: 750px) and (max-width:1099px){

body {
  padding:0em;
  margin:0em;
  background-color: #001115;
  font-family: 'Oswald', sans-serif;
  color: #d3d3d3;
}
#navigation {
  margin-top: -0.3em;
  padding: 0em;
  height: 3.2em;
  width: 100%;
  background-color: #002125;
  position: sticky;
  top:0;
}
#navigation button {
  color: white;
  border:none;
  background-color: #002125;
  float:left;
  padding: 0em;
  margin: 0em;
  text-align: center;
  height: 2.6em;
  width: 14.285%;
  font-size: 1.2em;
  font-family: 'Oswald', sans-serif;
}

#navigation .position {
  color: #002125;
  background-color: #d3d3d3;
  border:none;
  float:left;
  font-weight: bold;
  padding: 0em;
  margin: 0em;
  text-align: center;
  height: 2.6em;
  width: 14.285%;
  font-size: 1.2em;
  font-family: 'Oswald', sans-serif;
}
.nav-tgl{
display: none;
}

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'a b';
  grid-gap: 0.5em;
  margin-top:5.5em;
  text-align: center;
  background-color: #002125;
  height: 7em;
  margin-bottom:0em;
}
.validation {
  grid-area: a;
  padding:1.4em;
}
.validation a{
  padding: 0em 1em;
}
.social{
  grid-area: b;
  margin: 0em;
  padding:1.6em;
}
.info {
  grid-area: m;
  text-align: center;
  display: none;
}
.footer-icon {
  width: 9%;
  margin-left: 7%;
  height: auto;
}
.breadcrumb {
  padding: 0.5em 1em  ;
  margin: 0em;
  list-style: none;
  background-color: #001923;
}
.breadcrumb li {
  display: inline;
  font-size: 1.3em;
}
.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

#frecciasu
{
  padding: 0em;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-image: url('images/frecciaup.jpg');
  background-size: 3.5em;
}

#btnScrollToTop
{
  background-color: inherit;
  border: 0em;
  padding: 0em;
  position: fixed;
  right: 1em;
  bottom: 1em;
  width: 3.5em;
  height: 3.5em;
  cursor: pointer;
}
#frecciasu
{
  padding: 0em;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
}

/*----------------HOME PAGE------------------------------------------------*/

#background {
  width: 100%;
  height:auto;
  padding: 0em;
  margin:0em;
}
.item1 {
  grid-area: a;
  font-size: 2.6em;
  text-align: center;
  padding: 0em 2em;
}
.item2 {
  grid-area: b;
}
.item2 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.item3 {
  text-align: center;
  grid-area: c;
  padding: 0% 4%;
}
.item4 {
  grid-area: d;
  font-size: 3em;
  text-align: center;
  align-items: center;
  padding:1.2em 3em;
}
.item5 {
  grid-area: e;
  font-size: 3em;
  text-align: center;
  align-items: center;
  padding:1.2em 3em;
}
.item6 {
  grid-area: f;

}
.item6 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.item7 {
  grid-area: g;

}
.item7 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.item8 {
  grid-area: h;
  font-size: 3em;
  text-align: center;
  align-items: center;
  padding:1.2em 3em;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'b' 'a' 'd' 'c' 'f' 'e' 'g' 'h';
  grid-gap: 1em;
  grid-row-gap: 3em;
  margin-top:5.5em;
}
.mission-home {
  display: inline-block;
  background-color:#d3d3d3;
  color:#002125;
  width: 28%;
  border-radius: 0.4em;
  margin: 1em;
  padding-bottom:5em;
  padding-top:1em;
  font-weight: bold;
  text-decoration: none;
}
.mission-home a {
  text-decoration: underline;
  color: #002125;
}
.find-more-button {
  background-color: #001115;
  color: white;
  border: 0.2em solid white;
  border-radius: 0.5em;
  padding: 0.3em;
  margin: 0;
  font-size: 0.5em;
  transition-duration: 0.4s;
}
.find-more-button:hover {
  background-color:white;
  color:black;
}
.error{
  color: red;
  width: 100%;
  display: block;
}
/*-----------------CHI SIAMO----------------------------------------------*/

#green_data{
  display: grid;
  margin: 0em 1em 1em 1em;
  text-align: center;
  grid-template-areas:  'i1'
                        't1'
                        'i2'
                        't2';
  grid-gap: 0.1em;
  align-items: center;
}

#contentAbout h1{
  font-size: 2.25em;
  text-align: center;
}

#contentAbout h2{
  text-align: left;
  font-size: 1.6em;
  padding-top: 1em;
}
#contentAbout abbr{
    text-decoration: none;
}

#contentAbout p{
  text-align: left;
  font-size: 1.3em;
  margin: 1.8em;
}

.subtitle_cont{
    margin: 0em;
}

#icon_fact{
  vertical-align: 0.0em;
}

#subtitle_energia_pulita{
  grid-area: st;
}

#subtitle_sviluppo{
  margin-left: 0.5em;
}

#green_data h3{
  font-size: 2em;
  margin: 0.25em;
}

#contentAbout#green_data p{
  font-size: 1.3em;
}

#curio_icon1{
  grid-area: i1;
}

#curio_icon2{
  grid-area: i2;
}

.curio_icon{
  justify-self: center;
  margin: 0.5em;
  color: white;
  max-width: 8em;
  max-height: 8em;
}

.icon{
  max-width: 1.75em;
  max-height: 1.75em;
  vertical-align: -0.5em;
  margin: 0em 0.5em 0em 0.5em;
}

.iconNoMargin{
  max-width: 1.75em;
  max-height: 1.75em;
  vertical-align: -0.5em;
  margin: 0.3em;
}

#curio_data1{
    justify-self: center;
    grid-area: t1;
}

#curio_data2{
    justify-self: center;
    grid-area: t2;
}

.curio_data{
  margin: 1em;
  border-radius: 0.2em;
  box-shadow: 0.2em 0.2em 1em 0.005em #d3d3d3;
  padding: 0.25em 1em 0.25em 1em;
  max-width: 35em;
  background-color: #d3d3d3;
  color: #002125;
}

#our_team p{
  text-align: center;
  margin: 0.1em;
}

#our_team .name{
  font-size: 2em;
}

.iconM{
  max-width: 18em;
  max-height: 18em;
  vertical-align: -1.5em;
  margin: 0em 0.5em 0em 0.5em;
}

#grid_team{
display: grid;
margin: 1em;
grid-gap: 0.1em;
grid-template-areas:  'c  .'
                      'c  .'
                      'c  l'
                      'ct l'
                      'r  l'
                      'r  lt'
                      'r  s'
                      'rt s'
                      '.  s'
                      '.  st'
                      ;
}

#grid_team p{
  margin: 0em 0.5em 0em 0.5em;
}

#cisottoIMG{
  align-self: end;
  grid-area: c;
}

#lazzaroIMG{
  align-self: end;
  grid-area: l;
}

#rizzoIMG{
  align-self: center;
  grid-area: r;
}

#scialpiIMG{
  align-self: end;
  grid-area: s;
}

#grid_team #ct{
  align-self: start;
  grid-area: ct;
  margin-bottom: 0.5em;
}

#grid_team #lt{
  align-self: start;
  grid-area: lt;
  margin-bottom: 0.5em;
}

#grid_team #rt{
  align-self: start;
  grid-area: rt;
  margin-bottom: 0.5em;
}

#grid_team #st{
  align-self: start;
  grid-area: st;
  margin-bottom: 0.5em;
}

/* --------------- COLLABORAZIONI --------------------------------------------- */

#Team{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: 'ct1 ct2';
}
#astronauti
{
  grid-area: ct1;
  width: 13em;
  height: 13em;
  border-radius: 1em;
  align-self: center;
}
#Team.p
{
  grid-area: ct2;
}

#Meeting{
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-areas: 'cm1 cm2';
}
#meetimage
{
  grid-area: cm2;
  width: 18em;
  height: 10em;
  border-radius: 1em;
  align-self: center;
}
#Meeting.p
{
  grid-area: cm1;
}

#contentCollab #center{
  text-align: center;
}
#Partners{
  text-align: center;
  background-color: white;
  border-radius: 1em;
}
.Partners{
  width: 6em;
  height: 6em;
  margin: 1em;
  border-radius: 1em;
}
#collab-vantaggi{
  text-align: center;
  display: grid;
  grid-template-columns: 10fr 1fr 10fr 1fr;
  grid-template-areas: 'cv1 cv2 cv3 cv4''cv5 cv6 cv7 cv8';
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-column-gap: 1em;
  justify-self: center;
}

#collab_vantaggio1{
  grid-area: cv1;
}
#collab_vantaggio2{
  grid-area: cv3;
}
#collab_vantaggio3{
  grid-area: cv5;
}
#collab_vantaggio4{
  grid-area: cv7;
}
.collab_icon{
  width: 4em;
  height: 4em;
}
#collab_icon1{
  grid-area: cv2;
}
#collab_icon2{
  grid-area: cv4;
}
#collab_icon3{
  grid-area: cv6;
}
#collab_icon4{
  grid-area: cv8;
}

#contentCollab{
      margin: 5em;
  }

#contentCollab abbr{
    text-decoration: none;
  }

#contentCollab h1{
    text-align: center;
    font-size: 2.6em;
    margin-top: 1.5em;
  }

#contentCollab h2{
    text-align: center;
    font-size: 2em;
    margin-top: 1.5em;
  }

#contentCollab p{
    font-size: 1.8em;
    margin: 0em 1em 0em 1em;
    text-align: justify;
  }

/*----------------------------CONTATTACI----------------------------------*/
#navigation{
  z-index: 2;
}
.header{
position: relative;
margin-top: 2.7em;
text-align: center;
}
.aurora{
width: 100%;
filter: blur(8px);
}
.titolo{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
color: white;
font-weight: bold;
border: 3px solid #f1f1f1;
width: 80%;
padding: 2%;
font-size: 3vw;
text-align: center;
max-height: 70%;
text-shadow: 2px 2px 4px #000000;
}
.testo{
margin: 0em;
}
.testo_pulsanti_contattaci{
margin-top:1em;
margin-bottom: 1em;
padding-top: 2em;
text-align: center;
position: relative;
left: 15%;
font-size: calc(1vw + 0.5vh + 0.5vmin);
background-image: linear-gradient(to bottom, #000d33, #330033);
padding-left: 1.5em;
padding-right: 1.5em;
text-shadow: 2px 2px 4px #000000;
box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
max-width: 60%;

}
.pulsanti_contattaci{
max-height: 30%;
font-size: calc(1.2vw + 0.5vh + 0.5vmin);
min-width: 80%;
margin: 2em;
margin-left: 2.5em;
margin-right: 2.5em;
justify-self:center;
background-color: inherit;
color: white;
border-radius: 2px;
border-color: rgba(115, 64, 191, 0.5);
box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
}

.testo_generico_contattaci{
text-align: center;
position:relative;
left:5%;
font-size: calc(1.5vw + 0.5vh + 0.5vmin);
text-shadow: 2px 2px 4px #000000;
background-color: rgba(200,255,210, 0.1);
border: 3px solid rgba(200,255,210, 0.1);
max-width: 90%;
}
#immagine_insta, #immagine_face, #immagine_twit{
margin: 3%;
margin-left: 15%;
max-width: 10%;
}
#foto_social1, #foto_social2, #foto_social3{
margin-left: 15%;
width: 60%;
position: relative;
left: 5%;
}
#formid{
  position:relative;
  left: 10%;
  max-width: 80%;
  }
#textarea{
  resize: none;
  max-width: 70%;
}
.formerror{
  color: crimson;
}
.validation{
padding:2em;
}
#validation2{
padding:2em;
}
.inputform{
  background-color:#002125;
  color:#d3d3d3;
  border: 0.075em solid #d3d3d3;
  border-radius: 0.3em;
  padding: 0.3em;
  margin:0em;
  font-size: 2em;
}
#sendbutton {
  background-color: #d3d3d3;
  color: #002125;
  border: 0.2em solid #002125;
  border-radius: 0.3em;
  padding: 0.3em;
  margin:0em;
  font-size: 2em;
  transition-duration: 0.4s;
  font-weight: bold;
  margin-top: 1em;
}
#sendbutton:hover {
  background-color:#002125;
  color:#d3d3d3;
  border: 0.2em solid #d3d3d3;;
}
.formdescription, .formerror{
  font-size: calc(2vw + 0.7vh + 0.7vmin);
}
.formdescription, .formerror, .inputform{
  display: flex;
}

/* ------------ RICERCA ------------------------------------ */
#contentResearch{
line-height: 2.5em;
margin-left: 0.5em;
margin-right: 0.5em;
display: grid;
grid-gap: 0.1em;
grid-template-columns: 0.5fr 1fr 1fr 1fr;
grid-template-areas:  't1 t1 t1 t1'
                      'i1 d1 d1 d1'
                      't2 t2 t2 t2'
                      'im1 s1 s1 s1'
                      'p1 p1 p1 p1'
                      'im4 s4 s4 s4'
                      'p4 p4 p4 p4'
                      't3 t3 t3 t3'
                      'im2 s2 s2 s2'
                      'p2 p2 p2 p2'
                      'im3 s3 s3 s3'
                      'p3 p3 p3 p3'
                      ;
}

#contentResearch abbr{
text-decoration: none;
}

#contentResearch h1{
font-size: 2.7em;
text-align: center;
}

#contentResearch h2{
font-size: 2.2em;
justify-self: left;
}

#contentResearch p{
margin: 2em;
font-size: 1.5em;
}

#contentResearch img{
margin: 0em;
border-radius: 2em;
justify-self: center;
}

#title_avanguardia{
grid-area: t1;
}

#d1{
grid-area: d1;
}

#n1{
justify-self: center;
align-self: center;
max-width: 6em;
grid-area: i1;
transform: rotate(30deg);
}

#title_scoperte{
grid-area: t2;
}

#subtitle_buco{
grid-area: s1;
align-self: center;
}

#div_buco{
grid-area: p1;
}

#contentResearch #img_buco{
grid-area: im1;
max-width: 10em;
border-radius: 4em;
align-self: center;
}

#subtitle_neutrini{
grid-area: s4;
align-self: center;
}

#div_neutrini{
grid-area: p4;
}

#contentResearch #img_neutrini{
grid-area: im4;
max-width: 10em;
align-self: center;
}

#title_attrezzature{
grid-area: t3;
}

#subtitle_fionda{
grid-area: s2;
align-self: center;
}

#div_fionda{
grid-area: p2;
}

#contentResearch #img_fionda{
grid-area: im2;
max-width: 18em;
max-height: 18em;
align-self: center;
border-radius: 30em;
margin: 0em 1em 0em 1em;
padding: 0em 1em 0em 1em;
}

#subtitle_sonde{
grid-area: s3;
align-self: center;
}

#div_sonde{
grid-area: p3;
}


#contentResearch #img_sonda{
grid-area: im3;
max-width: 15em;
max-height: 15em;
align-self: center;
}

/*--------------ESPLORAZIONI------------------------------------------*/
#contentEsp h1{
    text-align: center;
    font-size: 5em;
    margin-top: 1.5em;
}

#search_section {
  text-align: left;
  width: 150%;
}

#pulsante_cerca_pianeta {
  display: block;
}

.dis_block{
  display: block;
}

#search{
  display: grid;
  grid-gap: 0.2em;
  grid-template-areas: 'box but';
  grid-template-columns: 1fr 1fr;
  margin-left: 33%;
}
#search fieldset{border: 0px solid;padding: 0;}
#search legend{text-indent: -9999px;font-size: 1px;}
#search input{
    float: left;
    width: 10em;
    height: 2.5em;
    margin: 1em 0em;
    background: #FFF url(bk.png) repeat-x top left;
    border: 1px solid;
    font-size: 1.3em;
    border-color: #002125;
    border-radius: 0.3em;
}
#search button{
  font-weight: bold;
  border-radius: 0.5em;
  cursor: pointer;
  background-color: #d3d3d3;
  color: #002125;
  padding: 1.1em;
  margin:0em;
  transition-duration: 0.4s;
  margin-top: 1.4em;
  margin-left: 1em;
}

#actionLabel {
  display: block;
}
#contentEsp #searchError {
  color: red;
  text-align: center;
}

 .notToDisp {
   display: none;
 }

#search button:hover {
  border-color:#d3d3d3;
}

  #contentEsp {
      text-align: center;
  }

#contentEsp p{
  text-align: left;
}

.buttonPrefe{
  max-width: 5em;
  max-height: 5em;
}

#filtro_scritta{
  text-align: center;
  font-size: 1.2em;
}

#filtro_attuale{
  text-align: center;
  font-size: 1.2em;
  display: inline-block;
}

  .mission-box {
    background-color: #d3d3d3;
    color: #002125;
    font-weight: bold;
    border-radius: 0.4em;
    padding: 1em;
    text-decoration: none;
    margin: 4em;
    margin-left: 2em;
    margin-right: 2em;
    width: 30em;
    display: inline-block;
  }

.mission-box h2{
    margin: 0em;
    text-align: center;
}

#errorPlanetNotFound{
  color: #fb5714;
  font-size: 1.3em;
  text-align: center;
  display: block;
}

#filtro_scritta{
  margin-left: 40%;
  text-align: center;
  font-size: 1.2em;
}

#filtro_attuale{
  text-align: center;
  font-size: 1.2em;
}

#pulsante_cerca_tutte{
  display: block;
}

.button_prefe{
  max-width: 5em;
  border-radius: 10em;
}

.button_prefe img{
    max-width: 4em;
}

.no_disp{
  display: none;
}

/* --------------- LOGIN --------------------------------------------- */

#login-content{
  text-align: center;
  align-content: center;
}
#login-content h1{
    font-size: 4em;
}
#login-content a{
  color: #d3d3d3
}
#login-content p{
  margin-top: 1.5em;
  margin-bottom: 0;
}
#login{
  background-color: #001115;
}

#login-box{
  background-color: #d3d3d3;
  padding: 4em 0;
  margin: 1em 18%;
  color: #002125;
  border-radius: 0.4em;
}
#login-box img{
  padding: 0;
  margin-right:0.6em;
  width: 2.8em;
  height:3.2em;
  vertical-align: middle;
}
#login-box input{
  margin: 1em 18%;
  height: 2.5em;
  font-size: 1.3em;
  width: 18em;
  border: 0.2em;
  border-color: #002125;
  border-radius: 0.3em;
  text-align: center;
}
#login-box select{
  margin: 1em 6em;
  height: 2.5em;
  font-size: 1.3em;
  width: 18em;
  border: 0.2em;
  border-color: #002125;
  border-radius: 0.3em;
  text-align: center;
}
.login-button {
  background-color: #d3d3d3;
  color: #002125;
  border: 0.2em solid #002125;
  border-radius: 0.3em;
  padding: 0.3em;
  margin:0em;
  font-size: 1.2em;
  transition-duration: 0.4s;
  font-weight: bold;
  margin-top: 1em;
}
.login-button:hover {
  background-color:#002125;
  color:#d3d3d3;
}
/* --------------- ADMIN------------------------- */
.admin-content{
  position: relative;
  left:5%;
  max-width: 70%;
  background-color: #d3d3d3;
  color: #002125;
  border: 0.2em solid #002125;
  border-radius: 0.3em;
  padding: 0.3em;
  margin:3em;
  font-size: calc(1.5vw + 0.8vh + 0.8vmin);
  text-align: center;
}
.adminbutton {
  background-color: #d3d3d3;
  color: #002125;
  border: 0.2em solid #002125;
  border-radius: 0.3em;
  padding: 0.3em;
  margin:0em;
  font-size: 0.8em;
  transition-duration: 0.4s;
  font-weight: bold;
  margin-top: 0.5em;
}
.adminbutton:hover {
  background-color:#002125;
  color:#d3d3d3;
}
.campidatiadmin{
  background-color:#002125;
  color:#d3d3d3;
  border-radius: 0.3em;
  padding: 0.3em;
  margin:0em;
  font-size: 0.8em;
}
.amministratore-box{
  background-color: #d3d3d3;
  font-weight: bold;
  border-radius: 0.4em;
  padding: 1em;
  text-decoration: none;
  margin: 2em;
  margin-left: 2em;
  margin-right: 2em;
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
.amministratore-box img{
  max-width: 20%;
  max-height: 20%;
  background-color: inherit;
}

.amministratore-box button{
  width: 80%;
  position:relative;
  left: 10%;
  right: 10%;
}
.nomemissione{
  font-size: calc(1.5vw + 0.5vh + 0.5vmin);
  text-align: center;
  color: #000000;
}

#titlemodificamissione{
  padding-top: 1em;
  font-size: calc(3vw + 0.5vh + 0.5vmin);
}
.scrittemodificamissione{
  font-size: calc(1.5vw + 0.5vh + 0.5vmin);
  background-color:#d3d3d3;
  color:#002125;
  border: 0.075em solid #d3d3d3;
  border-radius: 0.3em;
  padding: 0.3em;
  margin:0.5em;
}
.buttoninputmodificamissione{
  font-size: calc(1vw + 0.5vh + 0.5vmin);
  background-color:#002125;
  color:#d3d3d3;
  border: 0.1em solid #001a1d;
  border-radius: 0.3em;
  padding: 0.3em;
  margin:0.5em;
  width: 70%;
}
.buttonmodificamissione{
  font-size: calc(1.5vw + 0.5vh + 0.5vmin);
  background-color:#002125;
  color:#d3d3d3;
  border: 0.1em solid #001a1d;
  border-radius: 0.3em;
  padding: 0.3em;
  margin:0.5em;
}
.buttonmodificamissione:hover {
  background-color:#d3d3d3;
  color:#002125;
  border: 0.1em solid #002125;
}
.scrittemodificamissione, .buttoninputmodificamissione, .erroreModifica{
  display: block;
}
.erroreModifica{
  color: crimson;
}
}
