/*-------------------------------------------------------------------*/

@media print
{
  /*--------------GENERAL PURPOSE CSS------------------------------------------*/
  .navigation {
    display: none;
  }

  #footer{
    display: none;
  }

  abbr {
    text-decoration: none;
  }

  /*--------------ESPLORAZIONI------------------------------------------*/
  #dida
  {
    display: none;
  }

  #footer{
    display: none;
  }

  /*----------------------------COLLABORAZIONI----------------------------------*/


  #astronauti
  {
    display: none;
  }

  #meetimage
  {
    display: none;
  }

  #contentCollab {
    padding: 0.1em 1.5em 0.5em;
  }

  .Partners{
    width: 3em;
    height: 3em;
    margin: 1em;
  }
  #collab-vantaggi{
    display: grid;
    grid-template-areas: 'cv1 cv2''cv3 cv4';

  }
  #collab_vantaggio1{
    grid-area: cv1;
  }
  #collab_vantaggio2{
    grid-area: cv2;
  }
  #collab_vantaggio3{
    grid-area: cv3;
  }
  #collab_vantaggio4{
    grid-area: cv4;
  }
  .collab_icon{
    display: none;
  }

  /*-----------------CHI SIAMO----------------------------------------------*/

  #contentAbout
  {
    padding: 0.1em 1.5em 0.5em;
  }

  .curio_icon
  {
    display: none;
  }

  .icon
  {
    display: none;
  }

  .iconM
  {
    display: none;
  }

  #grid_team{
  display: grid;
  grid-gap: 0.1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:  'ct lt rt st';
  }
  #ct{
    grid-area: ct;
  }
  #lt{
    grid-area: lt;
  }
  #rt{
    grid-area: rt;
  }
  #st{
    grid-area: st;
  }

  /* ------------ RICERCA ------------------------------------ */

  #contentResearch
  {
    padding: 0.1em 1.5em 0.5em;
  }

  #n1
  {
    display: none;
  }

  #img_buco
  {
    display: none;
  }

  #img_neutrini
  {
    display: none;
  }

  #img_fionda
  {
    display: none;
  }

  #img_sonda
  {
    display: none;
  }


    /* ------------ LOGIN ------------------------------------ */

   
}
