@media screen and (max-width: 900px) and (orientation: landscape){
  /*--------------GENERAL PURPOSE CSS-----------------------------------------*/
  body {
    padding:0em;
    margin:0em;
    background-image: linear-gradient(to bottom, #000206, #00444C);
    font-family: 'Oswald', sans-serif;
    color: #d3d3d3;
  }
  .navigation {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas: '. . . a''. z b .''. c d .''. e f .''. g g .';
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5%;
    grid-row-gap: 8%;
    opacity: 0.9;
    position: fixed;
    width:100%;
    z-index:1;
    justify-content: center;
    height: 10%;
    background-color: #000;
    transition: all 0.8s ease-out, background 1s ease-out;
    transition-delay: 0.05s;
  }
  .navigation .desktop{
    opacity: 0;
    margin-bottom: 2em;
    border: 0;
    color:transparent;
    width:100%;
    height:8em;
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }
  .navigation .button0{
    background:url(images/icons8-casa-96.png) no-repeat;
    grid-area: z;
    transition-delay: 0.4s;
  }
  .navigation .button1{
    grid-area: b;
    transition-delay: 0.4s;
  }
  .navigation .button2{
    grid-area: c;
    transition-delay: 0.2s;
  }
  .navigation .button3  {
    grid-area: d;
    transition-delay: 0.2s;
  }
  .navigation .button4{
    grid-area: e;
    transition-delay: 0.15s;
  }
  .navigation .button5{
    grid-area: f;
    transition-delay: 0.15s;
  }
  .navigation .button6  {
    grid-area: g;
    transition-delay: 0.05s;
  }
  .active.button0{
    grid-area: z;
    transition-delay: 0.35s;
  }
  .navigation.active .button1{
    grid-area: b;
    transition-delay: 0.35s;
  }
  .navigation.active .button2{
    grid-area: c;
    transition-delay: 0.55s;
  }
  .navigation.active .button3  {
    grid-area: d;
    transition-delay: 0.55s;
  }
  .navigation.active .button4{
    grid-area: e;
    transition-delay: 0.75s;
  }
  .navigation.active .button5{
    grid-area: f;
    transition-delay: 0.75s;
  }
  .navigation.active .button6  {
    grid-area: g;
    transition-delay: 0.9s;
  }

.nav-tgl {
  grid-area: a;
  margin-top: 10%;
  margin-left: 22%;
  display: inline-block;
  width: 4em;
  height: 4em;
  z-index: 1;
  border: none;
  border-radius: 50%;
  padding: 0;
  background: #fff;
  text-align: center;
}
.nav-tgl > span {
  display: inline-block;
  position: relative;
  height: 2px;
  width: 34px;
  border-radius: 1px;
  background: #293335;
  vertical-align: middle;
}
.nav-tgl  span:before, .nav-tgl  span:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 2px;
  border-radius: 1px;
  background: #293335;
  transition: all 200ms;
}
.nav-tgl  span:before {
  top: -11px;
  left: 3px;
  width: 28px;
}
.nav-tgl  span:after {
  top: 11px;
  left: 6px;
  width: 22px;
}
.nav-tgl:focus {
  outline: none;
}
.nav-tgl:hover  span:after, .nav-tgl:hover  span:before {
  width: 34px;
  left: 0;
}
.nav-tgl.toggled  span {
  height: 0;
}
.nav-tgl.toggled  span:after, .nav-tgl.toggled  span:before {
  top: 0px;
  left: 0;
  width: 34px;
}
.nav-tgl.toggled > span:after {
  transform: rotate(-45deg);
}
.nav-tgl.toggled > span:before {
  transform: rotate(45deg);
}
.nav-tgl.toggled {
  background-color: #fff;
}

.active.navigation {
  height:100%;
  opacity: 1;
  transition: all 0.6s ease-in, background 1s ease-in;
  transition-delay: 0.05s;
}
.active.desktop{
  margin-bottom: 2em;
  border: 0;
  color:transparent;
  background-position: center;
  width:100%;
  height:8em;
  opacity: 1;
}

  #footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'a b';
    grid-gap: 0.5em;
    margin-top:3.5em;
    text-align: center;
    background-color: #002125;
    height: 7em;
    margin-bottom:0em;
  }
  .validation {
    grid-area: a;
    padding-top: 0.7em;
    margin: 0;
  }
  .validation a{
    padding: 0em 1em;
  }
  .social{
    grid-area: b;
    padding-top: 0.6em;
    margin: 0em;
    margin-right: 1em;
  }
  .info {
    grid-area: m;
    text-align: center;
    display: none;
  }
  .footer-icon {
    width: 9%;
    margin-left: 7%;
    height: auto;
  }

  #btnScrollToTop{
      display: none;
  }

  /*-----------------CHI SIAMO----------------------------------------------*/

  #green_data{
    display: grid;
    margin: 1em;
    grid-template-columns: 0.25fr 0.75fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:  'i1 t1 t1'
                          'i2 t2 t2';
    grid-gap: 0.1em;
    align-items: center;
  }

  #contentAbout{
    margin-right: 1em;
    margin-left: 1em;
    padding-top: 4em;
  }

  #contentAbout h1{
    font-size: 2.2em;
    text-align: center;
  }

  #contentAbout h2{
    text-align: left;
    font-size: 1.8em;
  }

  #contentAbout abbr{
        text-decoration: none;
  }

  #contentAbout p{
    text-align: center;
    font-size: 1.2em;
    margin: 0.8em;
  }

  #firstTitle{
      padding-top: 0.67em;
      margin-top: 0em;
  }

  .subtitle_cont{
      margin: 0em;
  }

  #icon_fact{
    vertical-align: 0.0em;
  }

  #subtitle_energia_pulita{
    grid-area: st;
  }

  #subtitle_sviluppo{
    margin-left: 0.5em;
  }

  #green_data h3{
    font-size: 2em;
    margin: 0.25em;
  }

  #contentAbout#green_data p{
    font-size: 1.3em;
  }

  #curio_icon1{
    grid-area: i1;
  }

  #curio_icon2{
    grid-area: i2;
  }

  .curio_icon{
    justify-self: center;
    margin: 0.5em;
    color: white;
    max-width: 8em;
    max-height: 8em;
  }

  .icon{
    max-width: 1.75em;
    max-height: 1.75em;
    vertical-align: -0.5em;
    margin: 0em 0.5em 0em 0.5em;
  }

  .iconM{
    max-width: 7em;
    max-height: 7em;
    vertical-align: -1.5em;
    margin: 0em 0.5em 0em 0.5em;
  }

  .iconNoMargin{
    max-width: 1.75em;
    max-height: 1.75em;
    vertical-align: -0.5em;
    margin: 0.3em;
  }

  #curio_data1{
      justify-self: center;
      grid-area: t1;
  }

  #curio_data2{
      justify-self: center;
      grid-area: t2;
  }

  .curio_data{
    margin: 1em;
    border-radius: 0.2em;
    box-shadow: 0.2em 0.2em 1em 0.005em #d3d3d3;
    padding: 0.25em 1em 0.25em 1em;
    max-width: 35em;
    background-color: #d3d3d3;
    color: #002125;
  }

  #our_team p{
    text-align: center;
    margin: 0.1em;
  }

  #our_team .name{
    font-size: 1.5em;
  }

  #cisottoIMG{
    justify-self: right;
    align-self: center;
    grid-area: c;
  }

  #lazzaroIMG{
    justify-self: right;
    align-self: center;
    grid-area: l;
  }

  #rizzoIMG{
    justify-self: right;
    align-self: center;
    grid-area: r;
  }

  #scialpiIMG{
    justify-self: right;
    align-self: center;
    grid-area: s;
  }

  #grid_team{
  display: grid;
  grid-gap: 0.1em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:  'c ct'
                        'l lt'
                        'r rt'
                        's st';
  }

  #grid_team #ct{
    justify-self: left;
    align-self: center;
    grid-area: ct;
  }

  #grid_team #lt{
    justify-self: left;
    align-self: center;
    grid-area: lt;
  }

  #grid_team #rt{
    justify-self: left;
    align-self: center;
    grid-area: rt;
  }

  #grid_team #st{
    justify-self: left;
    align-self: center;
    grid-area: st;
  }

  .iconM{
    max-width: 10em;
    max-height: 10em;
    vertical-align: -2.0em;
    margin: 0em 0.5em 0em 0.5em;
  }

/*-------------------------CONTATTACI------------------------------*/
  body {
    padding:0em;
    margin:0em;
    background-image: linear-gradient(to bottom, #000206, #00444C);
    font-family: 'Oswald', sans-serif;
    color: #d3d3d3;
  }
  #footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'a b';
    grid-gap: 0.5em;
    margin-top:5.5em;
    text-align: center;
    background-color: #002125;
    height: 7em;
    margin-bottom:0em;
  }
  .validation {
    grid-area: a;
    padding:1.4em;
  }
  .validation a{
    padding: 0em 1em;
  }
  .header{
    position: relative;
    z-index: -1;
    text-align: center;
  }
  .aurora{
    width: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
  .titolo{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px #000000;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0, 0.6);
   color: white;
   font-weight: bold;
   border: 3px solid #f1f1f1;
   border-radius: 10px;
   width: 80%;
   padding: 2%;
   font-size: 3vw;
   text-align: center;
   max-height: 70%;
  }
  .testo{
    margin: 0em;
  }
  .testo_pulsanti_contattaci{
    margin-top:1em;
    margin-bottom: 1em;
    padding-top: 2em;
    text-align: center;
    position: relative;
    left: 15%;
    font-size: calc(1vw + 0.5vh + 0.5vmin);
    background-image: linear-gradient(to bottom, #000d33, #330033);
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
    max-width: 60%;

  }
  .pulsanti_contattaci{
    max-height: 30%;
    font-size: calc(1.2vw + 0.5vh + 0.5vmin);
    min-width: 80%;
    margin: 2em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    justify-self:center;
    background-color: inherit;
    color: white;
    border-radius: 2px;
    border-color: rgba(115, 64, 191, 0.5);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
  }

  .testo_generico_contattaci{
    text-align: center;
    position:relative;
    left:5%;
    font-size: calc(1.5vw + 0.5vh + 0.5vmin);
    text-shadow: 2px 2px 4px #000000;
    background-color: rgba(200,255,210, 0.1);
    border: 3px solid rgba(200,255,210, 0.1);
    max-width: 90%;
  }
  #immagine_insta{
    margin: 3%;
    margin-left: 15%;
    max-width: 10%;
    z-index: 0;
  }
  #immagine_face{
    margin: 3%;
    margin-left: 15%;
    max-width: 10%;
    z-index: 0;
  }
  #immagine_twit{
    margin: 3%;
    margin-left: 15%;
    max-width: 10%;
    z-index: 0;
  }
  #foto_social1{
    margin-left: 15%;
    max-width: 70%;
    z-index: 0;
  }
  #foto_social2{
    margin-left: 15%;
    max-width: 70%;
    z-index: 0;
  }
  #foto_social3{
    margin-left: 15%;
    max-width: 70%;
    z-index: 0;
  }
  #formid{
    position:relative;
    left: 2em;
  }
  #textarea{
    resize: none;
    max-width: 70%;
  }
  .formdescription{
    font-size: calc(1.5vw + 0.5vh + 0.5vmin);
  }
  .validation{
    padding:2em;
  }
  #validation2{
    padding:2em;
  }
  .inputform{
    background-color:#002125;
    color:#d3d3d3;
    border: 0.075em solid #d3d3d3;
    border-radius: 0.3em;
    padding: 0.3em;
    margin:0em;
    font-size: 2em;
  }
  #sendbutton {
    background-color: #d3d3d3;
    color: #002125;
    border: 0.2em solid #002125;
    border-radius: 0.3em;
    padding: 0.3em;
    margin:0em;
    font-size: 2em;
    transition-duration: 0.4s;
    font-weight: bold;
    margin-top: 1em;
  }
  #sendbutton:hover {
    background-color:#002125;
    color:#d3d3d3;
    border: 0.2em solid #d3d3d3;;
  }
  /* --------------- COLLABORAZIONI --------------------------------------------- */

  #Team{
    display: grid;
    grid-template-areas: 'ct1' 'ct2';
  }
  #astronauti
  {
    grid-area: ct1;
    width: 13em;
    height: 13em;
    border-radius: 1em;
    margin: 1em;
    justify-self: center;
  }
  #Team.p
  {
    grid-area: ct2;
  }

  #Meeting{
    display: grid;
    grid-template-areas: 'cm1' 'cm2';
  }
  #meetimage
  {
    grid-area: cm1;
    max-width: 18em;
    max-height: 13em;
    border-radius: 1em;
    margin: 1em;
    justify-self: center;
  }
  #Meeting.p
  {
    grid-area: cm2;
  }

  #contentCollab #center{
    text-align: center;
  }
  #Partners{
    text-align: center;
    background-color: white;
    border-radius: 1em;
  }
  .Partners{
    width: 6em;
    height: 6em;
    margin: 1em;
    border-radius: 1em;
  }
  #collab-vantaggi{
    text-align: center;
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-template-areas: 'cv1 cv2' 'cv3 cv4''cv5 cv6' 'cv7 cv8';
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-column-gap: 1em;
    justify-self: center;
  }

  #collab_vantaggio1{
    grid-area: cv1;
  }
  #collab_vantaggio2{
    grid-area: cv3;
  }
  #collab_vantaggio3{
    grid-area: cv5;
  }
  #collab_vantaggio4{
    grid-area: cv7;
  }
  .collab_icon{
    width: 4em;
    height: 4em;
  }
  #collab_icon1{
    grid-area: cv2;
  }
  #collab_icon2{
    grid-area: cv4;
  }
  #collab_icon3{
    grid-area: cv6;
  }
  #collab_icon4{
    grid-area: cv8;
  }

  #contentCollab{
        margin: 0em 4em 4em 4em;
    }

  #contentCollab abbr{
      text-decoration: none;
    }

  #contentCollab h1{
      text-align: center;
      font-size: 3em;
      margin-top: 0em;
      padding-top: 2em;
    }

  #contentCollab h2{
      text-align: center;
      font-size: 2.5em;
      margin-top: 1.5em;
    }

  #contentCollab p{
      font-size: 1.5em;
      text-align: justify;
    }

    /*--------------ESPLORAZIONI------------------------------------------*/
    #contentEsp
    {
      display: grid;
      grid-template-areas: 't i';
      grid-gap: 0.5em;
      padding-top: 1.3em;
    }

    #contentEsp h1{
        align-self: center;
        justify-self: center;
        font-size: 2.4em;
        margin-top: 0em;
        margin-bottom: 0em;
        grid-area: t;
    }

    #search{
      width: 230px;
    }
    #search fieldset{border: 0px solid;padding: 0;grid-area: i;}
    #search legend{text-indent: -9999px;font-size: 1px}
    #search input{
        float: left;
        align-self: center;
        width: 170px;
        height: 2.4em;
        margin: 1em 0em;
        background: #FFF url(bk.png) repeat-x top left;
        border: 1px solid;
        font-size: 1.3em;
        border-color: #002125;
        border-radius: 0.3em;
    }
    #search button{
      align-self: center;
      border-radius: 0.5em;
      cursor: pointer;
      background-color: #d3d3d3;
      color: #002125;
      border: 0.2em solid #002125;
      padding: 11px;
      padding-bottom: 12px;
      margin:0em;
      font-size: 1.1em;
      transition-duration: 0.4s;
      font-weight: bold;
      margin-top: 1em;
    }


    #contentMission {
        text-align: center;
        min-height: 5em;
    }

    #contentMissioni p{
    text-align: left;
    }

    #search button:hover {
      background-color:#002125;
      color:#d3d3d3;
    }

    .mission-box {
        background-color:#d3d3d3;
        color:#002125;
        font-weight: bold;
        border-radius: 0.4em;
        padding: 1em;
        text-decoration: none;
        margin: 2.5em;
        margin-left: auto;
        margin-right: auto;
        max-width: 30em;
        min-width: 15em;
      }

    .mission-box h2{
        margin: 0em;
        text-align: center;
    }
    #contentEsp #dida{
      font-size: 1.0em;
      text-align: center;
      margin: 0em;
    }


    .button_prefe{
      max-width: 5em;
      border-radius: 10em;
    }

    .button_prefe img{
        max-width: 4em;
    }
    .no_disp{
      display: none;
    }

    #errorPlanetNotFound{
      color: #9f0000;
      text-align: center;
    }

    .no_disp{
      display: none;
    }
    /* ------------ RICERCA ------------------------------------ */
    #contentResearch{
      line-height: 2.5em;
      margin-left: 0.5em;
      margin-right: 0.5em;
      display: grid;
      grid-gap: 0.1em;
      grid-template-columns: 1fr 1fr 1fr 0.5fr;
      grid-template-areas:  't1 t1 t1 t1'
                            'i1 d1 d1 d1'
                            't2 t2 t2 t2'
                            's1 s1 s1 im1'
                            'p1 p1 p1 p1'
                            's4 s4 s4 im4'
                            'p4 p4 p4 p4'
                            't3 t3 t3 t3'
                            's2 s2 s2 im2'
                            'p2 p2 p2 p2'
                            's3 s3 s3 im3'
                            'p3 p3 p3 p3'
                            ;
    }

    #contentResearch abbr{
      text-decoration: none;
    }

    #contentResearch h1{
      font-size: 2.5em;
      text-align: center;
    }

    #contentResearch h2{
      font-size: 2.0em;
      margin-left:1.5em;
      justify-self: left;
    }

    #contentResearch p{
      margin: 1.5em;
      font-size: 1.4em;
    }

    #contentResearch img{
      margin-right: 1em;
      border-radius: 2em;
      justify-self: center;
    }

    #title_avanguardia{
      padding-top: 1.5em;
      margin-top: 0em;
      grid-area: t1;
    }

    #d1{
      grid-area: d1;
    }

    #n1{
      justify-self: center;
      align-self: center;
      max-width: 6em;
      grid-area: i1;
      transform: rotate(30deg);
    }

    #title_scoperte{
      grid-area: t2;
    }

    #subtitle_buco{
      grid-area: s1;
      align-self: center;
    }

    #div_buco{
      grid-area: p1;
    }

    #contentResearch #img_buco{
      grid-area: im1;
      max-width: 8em;
      border-radius: 4em;
      align-self: center;
    }

    #subtitle_neutrini{
      grid-area: s4;
      align-self: center;
    }

    #div_neutrini{
      grid-area: p4;
    }

    #contentResearch #img_neutrini{
      grid-area: im4;
      max-width: 8em;
      align-self: center;
    }

    #title_attrezzature{
      grid-area: t3;
    }

    #subtitle_fionda{
      grid-area: s2;
      align-self: center;
    }

    #div_fionda{
      grid-area: p2;
    }

    #contentResearch #img_fionda{
      grid-area: im2;
      max-width: 15em;
      max-height: 15em;
      align-self: center;
      border-radius: 30em;
    }

    #subtitle_sonde{
      grid-area: s3;
      align-self: center;
    }

    #div_sonde{
      grid-area: p3;
    }


    #contentResearch #img_sonda{
      grid-area: im3;
      max-width: 12em;
      max-height: 12em;
      align-self: center;
    }

    /*----------------------ADMIN---------------------------*/
    .admin-content{
      position: relative;
      left: 20%;
      right: 40%;
      max-width: 50%;
      background-color: #d3d3d3;
      color: #002125;
      border: 0.2em solid #002125;
      border-radius: 0.3em;
      padding: 0.3em;
      margin:3em;
      font-size: calc(1.5vw + 0.6vh + 0.6vmin);
      text-align: center;
    }
    .adminbutton {
      background-color: #d3d3d3;
      color: #002125;
      border: 0.2em solid #002125;
      border-radius: 0.3em;
      padding: 0.3em;
      margin:0em;
      font-size: 1em;
      transition-duration: 0.4s;
      font-weight: bold;
      margin-top: 0.5em;
    }
    .adminbutton:hover {
      background-color:#002125;
      color:#d3d3d3;
    }
    .campidatiadmin{
      background-color:#002125;
      color:#d3d3d3;
      border-radius: 0.3em;
      padding: 0.3em;
      margin:0em;
      font-size: 1em;
    }
    .amministratore-box{
      background-color: #d3d3d3;
      font-weight: bold;
      border-radius: 0.4em;
      padding: 1em;
      text-decoration: none;
      margin: 2em;
      margin-left: 2em;
      margin-right: 2em;
      width: 30%;
      display: inline-block;
      vertical-align: top;
    }
    .amministratore-box img{
      max-width: 20%;
      max-height: 20%;
      background-color: inherit;
    }
    
    .amministratore-box button{
      width: 80%;
      position:relative;
      left: 10%;
      right: 10%;
    }
    .nomemissione{
      font-size: calc(1.5vw + 1vh + 0.5vmin);
      text-align: center;
      color: #000000;
    }
    #titlemodificamissione{
      padding-top: 1em;
      font-size: calc(3vw + 0.5vh + 0.5vmin);
    }
    .scrittemodificamissione{
      font-size: calc(1.5vw + 0.5vh + 0.5vmin);
      background-color:#d3d3d3;
      color:#002125;
      border: 0.075em solid #d3d3d3;
      border-radius: 0.3em;
      padding: 0.3em;
      margin:0.5em;
    }
    .buttoninputmodificamissione{
      font-size: calc(1vw + 0.5vh + 0.5vmin);
      background-color:#002125;
      color:#d3d3d3;
      border: 0.1em solid #001a1d;
      border-radius: 0.3em;
      padding: 0.3em;
      margin:0.5em;
      width: 70%;
    }
    .buttonmodificamissione{
      font-size: calc(1.5vw + 0.5vh + 0.5vmin);
      background-color:#002125;
      color:#d3d3d3;
      border: 0.1em solid #001a1d;
      border-radius: 0.3em;
      padding: 0.3em;
      margin:0.5em;
    }
    .buttonmodificamissione:hover {
      background-color:#d3d3d3;
      color:#002125;
      border: 0.1em solid #002125;
    }

}
